* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

.App {
  transition: 0.25s linear margin-left;
}

.library-active {
  margin-left: 30%;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
